<div class="card" [ngStyle]="{'background-color': option?.color}"
    [ngClass]="{'card-disabled': (selectedOption || selectedOption === 0) && !option?.selected}">
    <div class="card-header">
        <div>{{option?.name}}</div>
    </div>
    <div class="card-body">
        <div class="price">{{option?.selected ? 'Bought!' : '$' + option?.price}}</div>
        <div class="card-description">{{option?.description}}</div>
        <button class="buy-button" (click)="selectOption()">{{option?.selected ? 'Cancel' : 'Buy'}}</button>
    </div>
</div>